*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --background-color: grey;
  --font-color: rgb(0, 82, 0);
  --dark-mode-bg: rgb(10, 10, 10);
  --dark-mode-font: rgb(109, 253, 109);
  --button-color: rgb(255, 38, 255);
  --button-dark-mode: purple;
  --active-button: rgb(109, 253, 109);
}

body{
  background-color: var(--background-color);
  color: var(--dark-mode-font);
}

nav ul{
  background-color: aliceblue;
  margin-top: 0;
}

nav li{
  background-color: var(--button-color);
  padding: 5px;
  margin: 10px;
  width: 20%;
  text-align: center;
}

nav li.active{
  background-color: var(--active-button);
  color: black;
}