*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Main Colors Used*/
:root{
  --background-color: grey;
  --font-color: rgb(0, 82, 0);
  --dark-mode-bg: rgb(10, 10, 10);
  --dark-mode-font: rgb(109, 253, 109);
  --button-color: rgb(255, 38, 255);
  --button-dark-mode: purple;
  --active-button: rgb(109, 253, 109);
}
/*Body, Headers. Links*/

body{
  background-color: var(--background-color);
  color: var(--dark-mode-font);
}

header{
  text-align: right;
}

header h1{
  font-size: 4em;
  margin-right: 5px;
}

header h2{
  font-size: 1.5em;
  margin-right: 10%;
}

h3{
  font-size: 1em;
}

/*Navbar*/
nav ul{
  background-color: aliceblue;
  margin-top: 0;
  overflow: hidden;
}

nav ul li{
  float:right;
  display: block;
}

nav li{
  background-color: var(--button-color);
  padding: 5px;
  margin: 1px;
  text-align: center;
  border-radius: 5px;
}

nav ul a{
  color: var(--font-color);
}

nav ul a:hover{
  background-color: var(--background-color);
}

nav li.active{
  background-color: var(--active-button);
  color: black;
}

/*Section Control*/
section{
  background-color: var(--button-dark-mode);
  margin: 10px 20%;
}

/*categories*/
.categories ul{
  list-style-type: none;
}

.categories li{
  float: left;
  width: 30%;
  background-color: white;
  margin: 10px;
}

div {
  padding: 40px 0;
}