*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Body, Headers. Links*/

body{
  background-color: #ffe6e6;
  color: black;
}

header{
  text-align: right;
}

header h1{
  font-size: 4em;
  margin-right: 5px;
  color: #00ff00;
}

header h2{
  font-size: 1.5em;
  margin-right: 10%;
  color: #33ff33;
}

h3{
  font-size: 1em;
  color: #00cc00;
}

/*Navbar*/
nav ul{
  background-color: #ffcccc;
  margin-top: 0;
  overflow: hidden;
}

nav ul li{
  float:right;
  display: block;
}

nav li{
  background-color: #ff8080;
  color: black;
  padding: 5px;
  margin: 1px;
  text-align: center;
  border-radius: 5px;
}

nav a:hover{
  background-color: #ff0000;
}

nav li.active{
  background-color: #ff0000;
  color: black;
}

/*categories*/
.container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  list-style-type: none;
}

.container .photo{
  margin: 10px;
  background-color: white;
}

.photo h1{
  text-align: center;
  padding:  25px 0 25px 0;
}

/*background colors*/
.aboutme{
  background-color: #ffb3b3;
}

.categories{
  background-color: #ff8080;
}

.contact{
  background-color: #ff4d4d;
}

.social{
  background-color: #ff1a1a;
}