*{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Body, Headers. Links*/

body{
  background-color: #ffe6e6;
  color: black;
}

header{
  text-align: right;
}

header h1{
  font-size: 4em;
  margin-right: 5px;
  color: #00ff00;
}

header h2{
  font-size: 1.5em;
  margin-right: 10%;
  color: #33ff33;
}

h3{
  font-size: 1em;
  color: #00cc00;
}

/*Navbar*/
nav ul{
  background-color: #ffcccc;
  margin-top: 0;
  overflow: hidden;
}

nav ul li{
  float:right;
  display: block;
}

nav li{
  background-color: #ff8080;
  color: black;
  padding: 0 5px 0 5px;
  margin: 2px 1px 2px 1px;
  text-align: center;
  border-radius: 5px;
  font-size: 10px;
}

nav li:hover{
  background-color: #ff0000;
}

nav li.active{
  background-color: #ff0000;
  color: black;
}

/*categories*/
.container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  list-style-type: none;
}

.photo{
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 4px 6px 3px #414141;
}

.container a{
  color: black;
  text-decoration: none;
}

.container .photo:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.photo h1{
  text-align: center;
  padding:  15px 0 10px 0;
  font-size: 10px;
  font-family: cursive;
}

.photo img{
  width: 100%;
}

/*About me*/
.aboutme .text{
  display: grid;
  grid-template-columns: 75% 25%; 
  padding: 10px;
  list-style-type: none;
}

/*Contact me*/
.contact ul{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10px;
  list-style-type: none;
}

/*Social Media*/
.social img{
  margin: 10px 10px 10px 60px;
  width: 60%;
}

.social img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/*background colors*/
.aboutme{
  background-color: #ffb3b3;
}

.categories{
  background-color: #ff8080;
}

.contact{
  background-color: #ff4d4d;
}

.social{
  background-color: #ff1a1a;
}